* {
    text-decoration:none;
    margin: 0px;
    padding: 0px;

}

body {
    background-color:rgb(83, 82, 82);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    
    
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    
}

.logo a {
    font-size: 35px;
    font-weight: 200;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orangered;
}

.menu {
    float: right;
}

nav {
    width: 100;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgb(83, 82, 82);
    z-indeks: 1;
    border-bottom:1px rgb(83, 82, 82);

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: orangered;
    font-weight: bold;
    text-align: center;
    padding: 0px 40px 0px 40px;
    text-decoration: none;
}
nav ul li a:hover {
   
    background-color: cyan;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

section {
 margin: auto;
 display: flex;
 margin-bottom: 50px;
}
.con-wrapper {
    
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.img-wrapper {
    width: 300px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70vh;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

section {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 50px;
    color: orangered;
    margin-bottom: 30px;
    width: 100%;
    line-height: 50px;
}

a.tbl.biru {
    
    border-radius: 50px;
    margin-top: 50px;
    padding: 10px 15px 10px 15px;
    color: darkred;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid blanchedalmond;
    background-color: darkgreen;
    font-size: 15px;
    transition-delay: .5s;
}

a.tbl.biru:hover {
    background-color: lightgreen;
    text-decoration: none;
}
p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    color: bisque;
}

.img-about {
    width: 300px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70vh;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }
}

